/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background:url('medical-desk-with-stethoscope-mask_23-2148519724.jpg');
  background-position: center;
  background-size: cover;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.container {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.container .registration,
.container .forgot-password,
.container .new-password{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#forgot-password-check:checked ~ .forgot-password{
  display: block;
}
#forgot-password-check:checked ~ .login{
  display: none;
}
#new-password-check:checked ~ .new-password{
  display: block;
}
#new-password-check:checked ~ .forgot-password{
  display: none;
}
#forgot-password-check,
#new-password-check,
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form input{
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}
.form input:focus{
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
  cursor: pointer;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}
.new-password .update-btn {
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 6px;
}


.new-password .update-btn:hover {
  background: #006653;
}
/* Wrapper for password field and icon */
.password-wrapper {
  position: relative;
}

/* Eye icon inside password field */
.password-wrapper .toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #e81a1a;
}
